@page "/"

<PageTitle>Home</PageTitle>

<h1>Онлайн продажа книг</h1>

Добро пожаловать на мой сайт!
<div style="text-align: center;">
    <img src="/uploads/книги.jpg" alt="Book Image" style="max-width: 100%; height: auto;" />
</div>
